

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;  
  background: url(https://res.cloudinary.com/db8ctqbcb/image/upload/v1514384250/disco-balls-1478176_i26hgg.jpg) center center fixed;
}

a {
  padding: .1em 1.5em .3em 1.5em;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px darkblue, 0 0 5px navy;
}

a:hover {
  color: #f4df66;
}

h1 {  
  font-weight: bold;
  color: navy;
}

.main{
  padding-right:1em;
}


.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.venues {  
  max-width: 650px;
  box-shadow: 20px 2px 150px 150px rgba(225, 172, 155, .8);
  border: 1px solid black;
  border-radius: 5px;
}

.login {
  width: 100%;
  max-width: 650px;  
}


.login a {  
  padding: .15em 1.5em .3em 1.5em;
  border-radius: 5px; 
  text-decoration: none;
}

.loginlink {
  width: 30%}

.login a:hover {
  background-color:rgba(0, 0, 0, 1);  
}


.ListItem {
  background-color: black;
  color: white;  
  padding: 1% 5%;  
  margin-bottom: 5px;
  border: 2px solid #cd8b73;
  border-radius: 5px;
}

.name{
  width: 60%;
}



p {
  margin-left:10px;
  padding: 1%;
  max-width: 600px;
}

form {  
  padding: 15px;
  background-color: black;
  color: white;
  display: inline-block;  
  width: 100%; 
  border-top: 2px solid #cd8b73;
  border-bottom: 2px solid #cd8b73;
}

input {
  display: inline-block;
  margin-left: 1em;
  margin-right: .5em;
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {  
  font-size: small;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: .125em .125em grey;
  cursor: pointer;
}

button:hover {
  background-color: #f4df66;
  
}

button:active {
  box-shadow: none;
  
}

.selected {
  background-color: #f4df66;
  
}

.not-selected {
  background-color: lightgrey;
  
}

.disabled {
  display: none;
  
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}



.right {
  float: right;
}

.headcount {
  font-size: small;
}

span .headcountcontainer { 
  width:20%;
  padding: 10px;
  margin-right: 20px;  
}

@media (min-width: 650px) { 
  body{
    margin: 5% 10%;
  }
}

.is-not-clickable {
  color: grey;
  pointer-events:none;
}